@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import "./variables";
@import "./config";

.header-nav {
  @extend %flex;
  margin-top: 31px;
}

.header-nav i {
  color: $aqua;
  font-size: 24px;
}

.header-menu {
  margin-top: 25px;
}

.header-menu__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  & a span {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 18px;
    font-family: $rale;
    color: $font-light;
  }
}

.hero {
  margin: 25px 0;
  background-image: radial-gradient(
    ellipse,
    rgba(69, 20, 77, 0.9) 0%,
    rgba(18, 1, 32, 1) 62%
  );
}

.hero-title {
  font-family: $rale;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 44px;
  text-align: center;
  color: $font-light;
  margin-bottom: 28px;
}

.hero-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 28px;
  text-align: center;
  color: $font-grey;
}

.hero-button {
  display: block;
  margin-top: 50px;
  text-align: center;
}

.hero-button span {
  padding: 16px 51px;
  background-color: $aqua;
  border-radius: 10px;
  color: white;
}

.hero-market {
  margin-top: 152px;
  font-family: $rale;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 32px;
  color: $font-light;
  margin-bottom: 24px;
}

.trend-card {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
}

.crypto-card {
  width: 297px;
  height: 187px;
  border-radius: 18px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.02),
      rgba(255, 255, 255, 0.02)
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));

  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0 25px;
  margin-right: 20px;
}

.crypto-data {
  width: 221px;
  @extend %flex;
  height: 50%;
  & p {
    font-family: $rale;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 21px;
    color: $font-light;
  }

  & span {
    font-family: $rale;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    background-color: $light-grey;
    padding: 0 6px;
    border-radius: 4px;
  }
}

.crypto-value {
  @extend %flex;
  height: 50%;

  & .values {
    & h4 {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 28px;
      color: $font-light;
      margin-bottom: 9px;
    }
    & p {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 28px;
      color: $font-grey;
    }
  }
}
